In [12]:
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline
import pandas as pd
import serial

import glob

import time
import os
import shutil
import sys
from datetime import datetime
print(sys.version)
print(sys.executable)

3.6.5 | packaged by conda-forge | (default, Apr  6 2018, 13:44:09)
[GCC 4.2.1 Compatible Apple LLVM 6.1.0 (clang-602.0.53)]
/Users/cswitzer/anaconda/envs/nectarLearn/bin/python

In [53]:
# list ports

def serial_ports():
    """ Lists serial port names

        :raises EnvironmentError:
            On unsupported or unknown platforms
        :returns:
            A list of the serial ports available on the system
    """
    if sys.platform.startswith('win'):
        ports = ['COM%s' % (i + 1) for i in range(256)]
    elif sys.platform.startswith('linux') or sys.platform.startswith('cygwin'):
        # this excludes your current terminal "/dev/tty"
        ports = glob.glob('/dev/tty[A-Za-z]*')
    elif sys.platform.startswith('darwin'):
        ports = glob.glob('/dev/tty.*')
    else:
        raise EnvironmentError('Unsupported platform')

    result = []
    for port in ports:
        try:
            s = serial.Serial(port)
            s.close()
            result.append(port)
        except (OSError, serial.SerialException):
            pass
    return result


# I'm using COM3 and COM5 arduinos
# COM4 is for the arduino controlling the cameras
serial_ports()

['/dev/tty.Bluetooth-Incoming-Port', '/dev/tty.usbmodem1411']

In [56]:
# connect 
PORT1 = "/dev/tty.usbmodem1411"
connected1 = False
ser1 = serial.Serial(PORT1,9600)
while not connected1:
    serin1 = ser1.read()
    connected1 = True
    print("connected to arduino on " + PORT1)

connected to arduino on /dev/tty.usbmodem1411

In [91]:
ser1.readline()

b'30,30,144,242,890\r\n'

In [ ]:
for ii in range(10): 
    written = ser1.write("f".encode("utf-8"))

In [ ]:
for ii in range(10): 
    written = ser1.write("b".encode("utf-8"))

In [ ]:
"c".encode("utf-8")
int.from_bytes(b'c', byteorder='big') # this is what the arduino will see

In [94]:
int.from_bytes(b'r', byteorder='big')

114

In [ ]:
def calibration:
    # put liquid to top of tube

In [49]:
def readData(serial_con, readlen = 5, wait_time = 0):
    tmp = []
    for ii in range(readlen):
        txt = serial_con.readline().decode("UTF-8")
        values = [int(i) for i in txt.split(',')]
        tmp.append(values)
        time.sleep(wait_time)
    return(np.array(tmp))

In [50]:
tt = readData(ser1, 10, 0)
tt

array([[ 30,  30, 144, 242, 889],
       [ 30,  30, 144, 242, 889],
       [ 30,  30, 144, 242, 889],
       [ 30,  30, 144, 242, 889],
       [ 30,  30, 144, 242, 889],
       [ 30,  30, 144, 242, 889],
       [ 30,  30, 144, 242, 889],
       [ 30,  30, 144, 242, 889],
       [ 30,  30, 144, 242, 889],
       [ 30,  30, 144, 242, 889]])

In [43]:
pd.DataFrame(tt)

    0   1    2    3    4
0  30  30  144  242  889
1  30  30  144  242  889
2  30  30  144  242  889
3  30  30  144  242  889
4  30  30  144  242  889
5  30  30  144  242  889
6  30  30  144  242  889
7  30  30  144  242  889
8  30  30  144  242  889
9  30  30  144  242  889

In [52]:
ser1.close()